<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
			<div class="page-header">
				<h1>
					Template engine <small>by Roberto Salas</small>
				</h1>
			</div>
			<form name="submitform" action="/send" id="formsend" method="post" role="form">
				<div class="form-group">
					 <label>Input 1</label><input name="input1" class="form-control" id="input1">
				</div>
				<div class="form-group">
					 <label>Input 2</label><input name="input2" class="form-control" id="input2">
				</div>
								<div class="form-group">
					 <label>Input 3</label><input name="input3" class="form-control" id="input3">
				</div>
								<div class="form-group">
					 <label>Input 4</label><input name="input4" class="form-control" id="input4">
				</div>
								<div class="form-group">
					 <label>Input 5</label><input name="input5" class="form-control" id="input5">
				</div>
			<button id="button-send" type="button" class="btn btn-default" value="Send">Submit</button>
			</form>
		</div>
	</div>
</div>
      <script type="text/javascript" src="js/form.js"></script>

